Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php

RewriteRule ^profile$ profile/index.php

RewriteRule ^products$ products/index.php

RewriteRule ^logout$ app/AuthController.php

RewriteRule ^client$ app/ClientController.php