Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php

RewriteRule ^profile$ profile/index.php

RewriteRule ^products$ products/index.php

RewriteRule ^logout$ app/AuthController.php

RewriteRule ^client$ clients/index.php

RewriteRule ^client/details$ clients/details.php

RewriteRule ^users$ users/index.php

RewriteRule ^users/details$ users/details.php

RewriteRule ^products/details/(.+)/$ products/details.php?slug=$1

RewriteRule ^clients/details/(.+)/$ clients/details.php?id=$1

RewriteRule ^users/details/(.+)/$ users/details.php?id=$1

RewriteRule ^catalogos/marcas$ catalog/brands/index.php

RewriteRule ^catalogos/categorias$ catalog/categories/index.php

RewriteRule ^catalogos/etiquetas$ catalog/tags/index.php

RewriteRule ^cupons$ cupons/details.php

# RewriteRule ^cupons/details/(.+)/$ cupons/details.php?id?$1

RewriteRule ^orders$ orders/index.php

RewriteRule ^frm$ app/UserController.php

RewriteRule ^cln$ app/ClientController.php
